body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  gap: 2px; /* Optional: Adds a little space between the boxes */
}
.box {
  /* Optional: Adds a border around each box */
  /* border: 1px solid red; */
  display: flex;
  font-size: 2em;
  color: #555;
  justify-content: center;
  align-items: center;

  word-wrap: break-word; /* Older browsers, also ensures words break to prevent overflow */
  overflow-wrap: break-word; /* Preferred property for modern standards */
  hyphens: auto; /* Optional: for adding hyphenation if text breaks */

  overflow: hidden; /* Ensures the overflowing content is not visible outside the container */
  text-overflow: ellipsis; /* Optional: Render an ellipsis ("...") to represent clipped text */
  white-space: normal; /* Override "nowrap" which could be inherited */
}

#box1 {
  grid-row: 1 / 4;
}
#box1 svg {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
#logoutput {
  /* background: white; */
  height: 100%;
  width: 100%;
  padding: 10px 5px;
  text-align: left;
  font-size: 8px;
  font-family: monospace;
  white-space: pre-wrap;
}
